<!DOCTYPE html>
<html lang="en">
<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock title %}</title>

		<!-- Bootstrap -->
		<link href="{{ base_url() }}/static/client/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ base_url() }}/static/client/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- Fonts -->
		<link href="{{ base_url() }}/static/client/fonts/montserrat/stylesheet.css" rel="stylesheet">
		<!-- Owl Carousel -->
		<link href="{{ base_url() }}/static/client/css/owl.carousel.css" rel="stylesheet">
		<link href="{{ base_url() }}/static/client/css/owl.theme.default.css" rel="stylesheet">
		<!-- Sweet Alert -->
		<link href="{{ base_url() }}/static/client/css/sweetalert.css" rel="stylesheet">
		<!-- Animate -->
		<link href="{{ base_url() }}/static/client/css/animate.min.css" rel="stylesheet">
		<!-- Flipster -->
		<link href="{{ base_url() }}/static/client/css/jquery.flipster.min.css" rel="stylesheet">
		<!-- Style.css -->
		<link href="{{ base_url() }}/static/client/css/style.css" rel="stylesheet">
		<link href="{{ base_url() }}/static/client/css/mindkraft.css" rel="stylesheet">
		<link href="{{ base_url() }}/static/client/css/ami-form.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ base_url() }}/static/client/css/animsition.min.css">
		{% block css %}{% endblock css %}
		<script type="text/javascript" src="{{ base_url() }}/static/client/js/modernizr.custom.26633.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	<script src="{{ base_url() }}/static/client/js/jquery-3.1.1.min.js"></script>
<script>
	$(document).ready(function(){



			$(".animsition-overlay").animsition({
    inClass: 'overlay-slide-in-right',
    outClass: 'overlay-slide-out-left',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.trans',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
//    loadingInner: '<div class="loaderina" style="background: url({{ base_url() }}/static/client/images/load/mk-glo.png) no-repeat"><img src="{{ base_url() }}/static/client/images/load/mk-ring.png"></div>',
    timeout: false,
    timeoutCountdown: 1000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
//    overlay : false,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });

	});
	</script>
	</head>
	<body>
		<main>
			<div class="animsition-overlay" data-animsition-overlay="true" style="z-index:99"></div>

		<header class="header fixed" style="background-image: url('{{ base_url() }}/static/client/images/header.jpg');">
			<div class="container">
				<div class="logo"><a href="index.html"><img src="{{ base_url() }}/static/client/images/logo.png" alt="Mindkraft" class="img-responsive">
<!--					<div class="overlay"></div>-->
					</a>

				</div> <!-- end .logo -->
				<div class="navigation clearfix">
					<nav class="main-nav">
						<ul class="list-unstyled">
							<li>
								<a href="{{ base_url() }}" class="trans">Home</a>

							</li>
							<li>
								<a href="{{ base_url() }}/#about" class="smooth-scroll trans">About Us</a>

							</li>
							<li>
								<a href="{{ base_url() }}/#our-sponsors" class="smooth-scroll trans">Sponsors</a>

							</li>
<!--
							<li>
								<a href="/#gallery" class="smooth-scroll trans">Gallery</a>

							</li>
-->
							<li>
								<a href="{{ path_for("page_depts") }}" class="trans">Events</a>

							</li>
<!--
							<li>
								<a href="/#faqs">Faq's</a>
														</li>
-->
							<li><a href="{{ base_url() }}/#find-us">Find Us</a></li>
						</ul>
					</nav> <!-- end .main-nav -->
					<a href="#" class="responsive-menu-open"><i class="fa fa-bars" aria-hidden="true"></i></a>
<!--					<a href="#animatedAuth" id="autho" class="button" data-toggle="modal" data-target="#animatedAuth">Sign In | Up</a>-->

				</div> <!-- end .navigation -->
			</div> <!-- end .container -->
		</header> <!-- end .header -->

		<div class="responsive-menu">
			<a href="#" class="responsive-menu-close"><i class="fa fa-times" aria-hidden="true"></i></a>
			<nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
		</div> <!-- end .responsive-menu -->

		<div class="page-title">
			<div class="container">
				<h2>Schedule List</h2>
				<div class="buttons">
					<a href="#" class="button outline"><span class="icon"><i class="fa fa-home"></i></span>Home</a>
					<a href="#" class="button blue">Bread Crumbs</a>
				</div>
			</div> <!-- end .container -->
		</div> <!-- end .page-title -->
		<div class="cd-index cd-main-content">
		{% block body %}
		{% endblock body %}
			</div>
<div class="cd-cover-layer"></div>
<div class="cd-loading-bar"></div>

		<!-- jQuery -->

		<!-- Bootstrap -->
		<script src="{{ base_url() }}/static/client/js/bootstrap.min.js"></script>

			<script src="{{ base_url() }}/static/client/js/animsition.min.js"></script>
		{% block js %}{% endblock js %}
		</main>
	</body>
</html>
