{% extends "website/shell.twig" %}

{% block title%}
Login to Mindkraft 2017 | A National Level Techno Management Fest
{% endblock title%}

{% block css%}
<link href="{{ base_url() }}/static/css/games.css" rel="stylesheet">
<link href="{{ base_url() }}/static/css/form.css" rel="stylesheet">
{% endblock css %}

{% block content%}
<!-- <section class="cd-section game visible" id="intro" data-parallax="scroll" > -->
	<header class="ami-main">
	<div class="container">
	<div class="row">
		</div>
		<div class="container">

			<form id="login" class="cd-form floating-labels">
				<h1>Login</h1>
<fieldset>

	<div class="error-message">
		<p>Please enter a valid email address</p>
	</div>

	<div class="icon">
<!--				<label class="cd-label" for="cd-name">Name</label>-->
		<input class="user" type="text" name="cd-name" id="username" required>
		</div>

		<div class="icon">
<!--		    	<label class="cd-label" for="cd-company">Company</label>-->
		<input class="company" type="password" name="cd-company" id="password" required>
		</div>

	<div>
		<button type="button" id="signin" class="btn btn-success pull-right">Sign In</button>
		<a href="#forgotPass" class="pull-right passre">Reset Password</a>
		</div>
</fieldset>
</form>
			<form id="forgotPass" class="cd-form floating-labels hidden	">
				<h1>Login</h1>
<fieldset>

	<div class="error-message">
		<p>Please enter a valid email address</p>
	</div>

	<div class="icon">
<!--				<label class="cd-label" for="cd-name">Name</label>-->
		<input class="user" type="text" name="cd-name" id="usersname" required>
		</div>

		<div class="icon">
<!--		    	<label class="cd-label" for="cd-company">Company</label>-->
		<input class="company" type="password" name="cd-company" id="cd-company" required>
		</div>

	<div>

		<button type="button" class="btn btn-success pull-right">Sign In</button>
		</div>
</fieldset>
</form>
		</div>
		</div>
	</header>

<!-- </section> -->
{% endblock content %}

{% block script %}
	<script>
    $("#signin").click(function () {
      $.ajax({
        url:"{{ path_for('api_login') }}",
        type: "POST",
        data: {
          "username": $("#username").val(),
          "password": $("#password").val()
        },
        success:function (result) {
          if(result.status=="success"){
            swal('Success',result.message,'success');
            location.reload();
          }else{
            swal('Something went Wrong !',result.message,'warning');
          }
        }
      });
    });
	</script>
{% endblock script %}
