{% extends 'brainchild/skeleton.twig' %}

{% block nav %}
    {% include 'brainchild/event/nav.twig' %}
{% endblock %}

{% block content %}
    <div class="row">
        {#  Registration Counts #}
        <div class="col col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ count }}</h3>
                    <p>Registrations</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>College</th>
                        </tr>
                        {% for reg in regis %}
                            <tr>
                                <td>{{ reg.id }}</td>
                                <td>{{ reg.username }}</td>
                                <td>{{ reg.name }}</td>
                                <td>{{ reg.phone }}</td>
                                <td>{{ reg.college }}</td>
                            </tr>
                        {% endfor %}
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}