{% extends "brainchild/skeleton.twig" %}

{% block css %}
  <link rel="stylesheet" href="{{ base_url() }}/static/plugins/simplemde/simplemde.min.css">
{% endblock %}
{% block nav %}
  {% include 'brainchild/event/nav.twig' %}
{% endblock %}

{% block content %}
  <div class="box box-success">
    <div class="box-body">
      <label for="title">Event Title</label>
      <input id="title" class="form-control" placeholder="Enter Title" value="{{ details.title }}" type="text">
      <br>
      <label for="desc">Description & Rules</label>
      <textarea id="desc">{{ details.description }}</textarea>
      <br>
      <label for="venue">Venue</label>
      <input id="venue" class="form-control" placeholder="Enter venue" value="{{ details.venue }}" type="text">
      <br>
      <label for="contact">Contact</label>
      <input id="contact" class="form-control" placeholder="Enter contact" value="{{ details.contact }}" type="text">
      <br>
      <label for="prize">Prize Amount</label>
      <input id="prize" class="form-control" placeholder="Enter prize" value="{{ details.prize }}" type="text">
      <br>
      <label for="fees">Entry Fees</label>
      <input id="fees" disabled class="form-control" placeholder="Enter fees" value="{{ details.fees }}" type="text">
      <br>
      <label for="dept">Dept</label>
      <input id="dept" disabled class="form-control" placeholder="Enter rules" value="{{ details.dept }}" type="text">
      <br>
      <label for="status">Status</label>
      <br>
      <label id="status" class="label label-{{ details.color }}">{{ details.status }}</label>
      <br>
      {% if details.s == 0 %}
        <button id="save" data-id="{{ details.id }}" class="btn btn-success pull-right">Save Changes</button>
      {% else %}
        <button id="save" disabled class="btn btn-info pull-right">Contact Admin</button>
      {% endif %}
    </div>
    <!-- /.box-body -->
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ base_url() }}/static/plugins/simplemde/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE({ element: $("#desc")[0] });
//    simplemde.value("");

    $(document).ready(function () {

      $("#save").click(function () {
        var pst = {
          title:$("#title").val(),
          desc: simplemde.value(),
          venue: $("#venue").val(),
          contact: $("#contact").val(),
          prize:$("#prize").val(),
          id:{{ details.id }}
        };
        console.log(pst);
        $.ajax({
          url: "{{ path_for('event_update') }}",
          type: "POST",
          data: pst,
          success: function (result) {
            if(result.status == "success"){
              location.reload();
            }else{
              alert(result.message);
            }
          }
        });

      });

    });

  </script>
{% endblock %}