<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Brainchild | {{ page_title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{{ base_url() }}/static/plugins/bootstrap/css/bootstrap.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ base_url() }}/static/plugins/font-awesome/css/font-awesome.css">
  <!-- Ionicons -->
  {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">#}
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ base_url() }}/static/css/AdminLTE.min.css">

  <link rel="stylesheet" href="{{ base_url() }}/static/css/skins/skin-green.css">

  <link rel="stylesheet" href="{{ base_url() }}/static/plugins/sweetalert2/sweetalert2.min.css">

  <link rel="stylesheet" href="{{ base_url() }}/static/plugins/bootstrap-select/css/bootstrap-select.min.css">

  {% block css %}{% endblock %}
  {#<link rel="stylesheet" href="{{ base_url() }}/static/css/skins/_all-skins.min.css">#}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{{ base_url() }}/static/js/html5shiv.min.js"></script>
  <script src="{{ base_url() }}/static/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition skin-green sidebar-mini fixed">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{{ path_for('page_myevents') }}" class="logo">
      <span class="logo-mini"><b>MK</b>17</span>
      <span class="logo-lg"><b>MindKraft</b>2017</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          {% include 'brainchild/partials/messages.twig' %}

          {% include 'brainchild/partials/notifications.twig' %}

          {% include 'brainchild/partials/tasks.twig' %}

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{{ base_url() }}/static/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ user }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="{{ base_url() }}/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  {{ user }} - {{ event_name }}
                  <small>{{ user_type }}</small>
                </p>
              </li>
              {#<!-- Menu Body -->#}
              {#<li class="user-body">#}
                {#<div class="row">#}
                  {#<div class="col-xs-4 text-center">#}
                    {#<a href="#">Followers</a>#}
                  {#</div>#}
                  {#<div class="col-xs-4 text-center">#}
                    {#<a href="#">Sales</a>#}
                  {#</div>#}
                  {#<div class="col-xs-4 text-center">#}
                    {#<a href="#">Friends</a>#}
                  {#</div>#}
                {#</div>#}
                {#<!-- /.row -->#}
              {#</li>#}
              <!-- Menu Footer-->
              <li class="user-footer">

                  <a href="{{ path_for('page_logout') }}" class="btn btn-default btn-flat">Sign out</a>

              </li>
            </ul>
          </li>
          {#<!-- Control Sidebar Toggle Button -->#}
          {#<li>#}
            {#<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>#}
          {#</li>#}
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ base_url() }}/static/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ user }}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-red"></i>{{ user_type }}</a>
        </div>
      </div>

      {% block nav %}{% endblock %}

    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ page_title }}
        <small>{{ header_description }}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>{{ user_type }}</a></li>
        <li class="active">{{ page_title }}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      {% block content %}{% endblock %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      For queries contact: G. Abiyouth Ph: +919600424320
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016-17 <a href="{{ base_url() }}">MindKraft</a>.</strong> All rights reserved.
  </footer>

  {#<!-- Control Sidebar -->#}
  {#<aside class="control-sidebar control-sidebar-dark">#}
    {#<!-- Create the tabs -->#}
    {#<ul class="nav nav-tabs nav-justified control-sidebar-tabs">#}
      {#<li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>#}
      {#<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>#}
    {#</ul>#}
    {#<!-- Tab panes -->#}
    {#<div class="tab-content">#}
      {#<!-- Home tab content -->#}
      {#<div class="tab-pane active" id="control-sidebar-home-tab">#}
        {#<h3 class="control-sidebar-heading">Recent Activity</h3>#}
        {#<ul class="control-sidebar-menu">#}
          {#<li>#}
            {#<a href="javascript:;">#}
              {#<i class="menu-icon fa fa-birthday-cake bg-red"></i>#}

              {#<div class="menu-info">#}
                {#<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>#}

                {#<p>Will be 23 on April 24th</p>#}
              {#</div>#}
            {#</a>#}
          {#</li>#}
        {#</ul>#}
        {#<!-- /.control-sidebar-menu -->#}

        {#<h3 class="control-sidebar-heading">Tasks Progress</h3>#}
        {#<ul class="control-sidebar-menu">#}
          {#<li>#}
            {#<a href="javascript:;">#}
              {#<h4 class="control-sidebar-subheading">#}
                {#Custom Template Design#}
                {#<span class="pull-right-container">#}
                  {#<span class="label label-danger pull-right">70%</span>#}
                {#</span>#}
              {#</h4>#}

              {#<div class="progress progress-xxs">#}
                {#<div class="progress-bar progress-bar-danger" style="width: 70%"></div>#}
              {#</div>#}
            {#</a>#}
          {#</li>#}
        {#</ul>#}
        {#<!-- /.control-sidebar-menu -->#}

      {#</div>#}
      {#<!-- /.tab-pane -->#}
      {#<!-- Stats tab content -->#}
      {#<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>#}
      {#<!-- /.tab-pane -->#}
      {#<!-- Settings tab content -->#}
      {#<div class="tab-pane" id="control-sidebar-settings-tab">#}
        {#<form method="post">#}
          {#<h3 class="control-sidebar-heading">General Settings</h3>#}

          {#<div class="form-group">#}
            {#<label class="control-sidebar-subheading">#}
              {#Report panel usage#}
              {#<input type="checkbox" class="pull-right" checked>#}
            {#</label>#}

            {#<p>#}
              {#Some information about this general settings option#}
            {#</p>#}
          {#</div>#}
          {#<!-- /.form-group -->#}
        {#</form>#}
      {#</div>#}
      {#<!-- /.tab-pane -->#}
    {#</div>#}
  {#</aside>#}
  {#<!-- /.control-sidebar -->#}
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
{% block modal %}{% endblock %}
<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="{{ base_url() }}/static/plugins/jquery/jquery.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ base_url() }}/static/plugins/bootstrap/js/bootstrap.js"></script>
<!-- AdminLTE App -->
<script src="{{ base_url() }}/static/js/app.min.js"></script>
<!-- Slim Scroll -->
<script src="{{ base_url() }}/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- Sweetalert -->
<script src="{{ base_url() }}/static/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Bootstrap select -->
<script src="{{ base_url() }}/static/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
