<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
  <!-- Menu toggle button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-danger">1</span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have 1 message</li>
    <li>
      <!-- inner menu: contains the messages -->
      <ul class="menu">
        <li><!-- start message -->
          <a href="#">
            <div class="pull-left">
              <!-- User Image -->
              <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <!-- Message title and timestamp -->
            <h4>
              Abiyouth
              <small><i class="fa fa-clock-o"></i> Today</small>
            </h4>
            <!-- The message -->
            <p>Currently in BETA. More features soon.</p>
          </a>
        </li>
        <!-- end message -->
      </ul>
      <!-- /.menu -->
    </li>
    <li class="footer"><a href="#">See All Messages</a></li>
  </ul>
</li>
<!-- /.messages-menu -->