{% extends 'brainchild/skeleton.twig' %}

{% block nav %}
  {% include 'brainchild/department/nav.twig' %}
{% endblock %}

{% block content %}
  <div class="box box-info">
    <div class="box-body">
      <div class="row">
        <div class="col col-md-12">
          <button type="button" class="pull-right btn bg-purple margin" data-toggle="modal" data-target="#add-event-modal">Add Event</button>
        </div>
        <div class="col col-md-12">
          <table class="table table-striped">
            <tbody><tr>
              <th>ID</th>
              <th>Title</th>
              <th>Type</th>
              <th>Fee</th>
              <th>Username</th>
              <th>Password</th>
              <th>Coordinator</th>
              <th>Phone</th>
              <th>Option</th>
            </tr>

            {% for event in events %}
              <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.fee }}</td>
                <td>{{ event.username }}</td>
                <td>{{ event.password }}</td>
                <td>{{ event.co_name }}</td>
                <td>{{ event.contact }}</td>
                <td><button data-toggle="modal" data-target="#edit-event-modal-{{ event.id }}" type="button" class="btn btn-xs btn-info">Edit</button></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- /.box-body -->
        </div>
      </div>
      {# Row Ends #}
    </div>
    </div>
    <!-- /.box-body -->
  </div>

{% endblock %}

{% block modal %}

  <div class="modal" id="add-event-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Add Event</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="short-name">Event Title</label>
            <input class="form-control" id="title" placeholder="Event Title (eg. Codevilla, Robo Wars etc.)" type="text">
          </div>
          <div class="form-group">
            <label for="type">Type</label><br>
            <select id="type" class="selectpicker">
              <option value="99" disabled selected>Select a type</option>
              <option value="0">Technical</option>
              <option value="1">Non Technical</option>
              <option value="2">Workshop</option>
            </select>
          </div>
          <div class="form-group">
            <label for="paid">Enter fee amount</label>
            <input type="number" class="form-control" id="paid" placeholder="Enter amount if paid or leave enter '0'" value="0">
          </div>
          <div class="form-group">
            <label for="co-name">Event Coordinator Name</label>
            <input class="form-control" id="co-name" placeholder="Enter Coordinator Name" type="text">
          </div>
          <div class="form-group">
            <label for="username">Username for Coordinator</label>
            <input class="form-control" id="username" placeholder="Enter Coordinator Username" type="text">
          </div>
          <div class="form-group">
            <label for="password">Password for Coordinator</label>
            <input class="form-control" id="password" placeholder="Enter Coordinator Password" type="text">
          </div>
          <div class="form-group">
            <label for="phone">Contact for Coordinator</label>
            <input class="form-control" id="phone" placeholder="Enter Coordinator Phone (+91XXXXXXXXXX)" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" id="add-event" class="btn btn-success">Add</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
{% for event in events %}
  <div class="modal" id="edit-event-modal-{{ event.id }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Add Event</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="short-name">Event Title</label>
            <input class="form-control" value="{{ event.title }}" disabled required id="title" placeholder="Event Title (eg. Codevilla, Robo Wars etc.)" type="text">
          </div>
          <div class="form-group">
            <label for="type">Type</label><br>
            <select id="type" disabled required class="selectpicker">
              <option value="99" selected>{{ event.type }}</option>
              <option value="0">Technical</option>
              <option value="1">Non Technical</option>
              <option value="2">Workshop</option>
            </select>
          </div>
          <div class="form-group">
            <label for="paid">Enter fee amount</label>
            <input disabled class="form-control" id="paid" placeholder="Enter amount if paid or leave enter '0'" value="{{ event.fee }}">
          </div>
          <div class="form-group">
            <label for="co-name">Event Coordinator Name</label>
            <input class="form-control" value="{{ event.co_name }}" disabled id="co-name" placeholder="Enter Coordinator Name" type="text">
          </div>
          <div class="form-group">
            <label for="username">Username for Coordinator</label>
            <input class="form-control" value="{{ event.username }}" disabled id="username" placeholder="Enter Coordinator Username" type="text">
          </div>
          <div class="form-group">
            <label for="password">Password for Coordinator</label>
            <input class="form-control" id="password" value="{{ event.password }}" placeholder="Enter Coordinator Password" type="text">
          </div>
          <div class="form-group">
            <label for="phone">Contact for Coordinator</label>
            <input class="form-control" id="phone" value="{{ event.contact }}" disabled placeholder="Enter Coordinator Phone (+91XXXXXXXXXX)" type="text">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" data-id="{{ event.id }}" class="btn btn-danger delete-event">Delete</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
{% endfor %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {

      $("#add-event").click(function () {
        var title = $("#title").val();
        var type = $("#type").val();
        var co_name = $("#co-name").val();
        var phone = $("#phone").val();
        var paid = $("#paid").val();
        var username = $("#username").val();
        var password = $("#password").val();
        if (title ==''||co_name==''||phone==''||paid==''||username==''||password==''||type=="99"){
          swal(
            'Empty Fields',
            'Need to fill all fields before submitting.',
            'question'
          );
        }else{
          $.ajax({
            url: "{{ path_for('department_ajax_add_event') }}",
            type: "POST",
            data: {
              "username": username,
              "password": password,
              "title": title,
              "phone": phone,
              "paid": paid,
              "type": type,
              "co_name": co_name
            },
            success: function (result) {
              if(result.status == "success"){
                swal('Success','Event Added.','success');
                location.reload();
              }else{
                swal('Error',result.message,'warning');
              }
            }
          });
//          alert("ok");
        }

      });

      $(".delete-event").click(function () {
        var me = $(this);
        swal({
          title: 'Are you sure?',
          text: "All event registrations will be lost ! Forever !",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then(function () {
          var id = me.attr('data-id');
          $.ajax({
            url: "{{ path_for('department_ajax_delete_event') }}",
            type: "POST",
            data:{
              "id": id
            },
            success: function (result) {
              if(result.status == "success"){
                swal('Success','Event Deleted.','success');
                location.reload();
              }else{
                swal('Error',result.message,'warning');
              }
            }

          });
        });
      });
    });
  </script>
{% endblock %}