<!-- Sidebar Menu -->
<ul class="sidebar-menu">
  <li class="header">Menu</li>
  <!-- Optionally, you can add icons to the links -->
  <li class=""><a href="{{ path_for('department_dashboard') }}"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
  <li class=""><a href="{{ path_for('department_manage') }}"><i class="fa fa-link"></i> <span>Manage</span></a></li>
  <li class=""><a href="{{ path_for('department_details') }}"><i class="fa fa-link"></i> <span>Details</span></a></li>
  <li class=""><a href="{{ path_for('department_events') }}"><i class="fa fa-link"></i> <span>Events</span></a></li>
  {#<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>#}
  {#<li class="treeview">#}
    {#<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>#}
      {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
    {#</a>#}
    {#<ul class="treeview-menu">#}
      {#<li><a href="#">Link in level 2</a></li>#}
      {#<li><a href="#">Link in level 2</a></li>#}
    {#</ul>#}
  {#</li>#}
</ul>
<!-- /.sidebar-menu -->